  <div id="about-projects" class="view">
    <style>
      #about-projects .wrapper {
        background:url(../../assets/Background.gif);
        background-repeat: repeat-x;
        background-size: auto 470px;
        height:470px;
        width: 100%;
      }

      #about-projects #works {
        height:80%;
        margin: auto;
        border: 38px solid rgba(0,0,0,0.70);
        outline: 2px solid #FFF;
      }

    </style>
    <a href="about-projects.html"><b id="back" class="global-back clickable">Back</b></a>
    <div class="wrapper center-top center-left">
      <img
        id="works"
        class="clickable center-top center-left"
        src="../../assets/Bloodshine/Balor Raganus/Dragonborn.gif"
        href="about.html"
        >
    </div>
  </div>
