body{ margin:0; padding:0;}
.state {
  width:100%;
  height:100%;
  background: black;
  color:white;
}

.clickable { cursor:pointer; }


#home.state #house {
  position: fixed;
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
}

#inside.state .inside-obj {
  bottom: 15%;
  position: absolute;
}
